/*
 * USAGE EXAMPLES:
 *
 * @include transition(width .2s linear);
 * @include transition(color .2s linear, background-color .3s linear);
 * @include transition(color .2s linear, background-color .3s linear, width .5s linear);
 * etc...
 *
 * */
@mixin transition($defs...) {
  -webkit-transition: $defs; -moz-transition: $defs; -ms-transition: $defs; -o-transition: $defs; transition: $defs;
}

/*
When you have buttons that users are likely to double-click on,
you don't want the double-clicking to select a bunch of random things.
Apply ...

  @include noselect()

 ... to add the styles to disable the selection on something like a button.

*/
@mixin noselect(){
  -moz-user-select:-moz-none; -moz-user-select:none; -o-user-select:none; -khtml-user-select:none; -webkit-user-select:none; -ms-user-select:none; user-select:none;
}

/*
Usage:

  @include borderbox()

*/
@mixin borderbox {
    box-sizing:border-box; -moz-box-sizing:border-box;
}

.backfade {
  -webkit-transition: background-color 250ms linear;  -moz-transition: background-color 250ms linear;  -o-transition: background-color 250ms linear;  -ms-transition: background-color 250ms linear;  transition: background-color 250ms linear;}
/*

  Convert a px value to a vw value

  Usage Example:

  font-size: pxToVw($bp-xlarge, 30px);

    30px font-size will be translated into the equivalent VW value,
    at a window width of $bp-xlarge

*/
@function pxToVw($windowWidthPx, $convertPx){
  @return (($convertPx / $windowWidthPx) * 100) + vw
}
